<header>
  <nav>
    <div class="container nav-wrapper">
      <a href="/" class="brand-logo">FB Anonym Page</a>
      <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <%= render 'shared/navbar_link' %>
      </ul>
      <ul class="side-nav" id="mobile-menu">
        <%= render 'shared/navbar_link' %>
      </ul>
    </div>
  </nav>
</header>
