<div class="center">
  <%= will_paginate @posts, :params => { published: @published }, renderer: MaterializePagination::Rails %>
</div>
<%= render @posts %>
<div class="center">
  <%= will_paginate @posts, :params => { published: @published }, renderer: MaterializePagination::Rails %>
</div>
