<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card teal">
      <div class="card-content white-text">
        <%= simple_format(post.content) %>
      </div>
      <div class="card-action">
        <%= link_to "edit", edit_post_path(post) %>
        <%= link_to "delete", post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to "post to fb", post_to_fb_page_post_path(post) %>
      </div>
    </div>
  </div>
</div>
