<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="row center">
      <i class="fa fa-user-secret logo"></i>
    </div>
    <div class="row center">
      <div class="page-name">
        <h1>FB Anonym Page</h1>
      </div>
    </div>
    <%= render 'form', post: @post %>
    </div>
</div>
