$primary-color: #ffc400;
$secondary-color: #689f38;
$fb-color: #3B5998;
@import "materialize";
@import "materialize-tags";

.admin {
  background: color('grey', 'lighten-4');
}

.logo {
  color: $fb-color;
  font-size: 15rem;
}

.page-name {
  h1 {
    font-weight: lighter;
  }
}

#new_post {
  .btn {
    background-color: $fb-color;
    @extend .white-text;
  }
}

footer {
  a {
    color: $secondary-color;
  }
}

.nav-wrapper {
  .brand-logo {
    font-weight: lighter;
  }
  a {
    @extend .black-text;
    letter-spacing: 1px;
  }
}

.post {
  .card-title {
    color: $secondary-color;
  }
  .post-time {
    color: $fb-color;
  }
  .remove {
    @extend .right;
  }
  .fa-pencil-square-o {
    color: $secondary-color;
    &:hover {
      color: lighten($secondary-color, 20%);
    }
  }
  .fa-facebook-square {
    color: $fb-color;
    &:hover {
      color: lighten($fb-color, 20%);
    }
  }
  .fa-trash-o {
    color: $primary-color;
    &:hover {
      color: lighten($primary-color, 20%);
    }
  }
}

.setting-title, .edit-user, .edit-post {
  h2 {
    font-weight: 300;
  }
}

.login h2 {
  font-weight: lighter;
}

// will_paginate-materialize setting
.pagination a li.active {
    color: #fff;
}

.pagination {
  display: inline-block;
}
