<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body>

<div class="container">
  <%= render 'shared/flash_toast' %>
  <%= yield %>
  <%= render 'shared/footer' %>
</div>

</body>
</html>
